<div class="a:card a:card-border a:bg-base-100 a:w-96 a:shadow-xl">
  <div class="a:card-body">
    <h2 class="a:card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="a:card-actions a:justify-end">
      <button class="a:btn a:btn-primary">Buy Now</button>
    </div>
  </div>
</div>
<br>

<div class="a:card a:bg-base-100 a:w-96 a:shadow-lg">
  <figure class="a:px-10 a:pt-10">
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes"
      class="a:rounded-xl"
    >
  </figure>
  <div class="a:card-body a:items-center a:text-center">
    <h2 class="a:card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="a:card-actions">
      <button class="a:btn a:btn-secondary">Buy Now</button>
    </div>
  </div>
</div>
<br>

<p>
  Tailwind CSS resets the style of links by default.
  <br>
  Add "link" class to make it look like a
  <a ref="#" class="a:link">normal link</a>
  again.
</p>
{% schema %}
{
  "name": "Test Section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Test Section"
    }
  ]
}
{% endschema %}
