@tailwind base;
@tailwind components;
@tailwind utilities;


@utility block:not(:last-child) {
  margin-bottom: calc(var(--a-spacing) * 6);
}

@utility is-size-4 {
  font-size: var(--a-text-xl);
  line-height: var(--tw-leading, var(--a-text-xl--line-height));
}

@utility is-size-5 {
  font-size: var(--a-text-lg);
  line-height: var(--tw-leading, var(--a-text-lg--line-height));
}

@utility is-size-3-desktop {
  font-size: var(--a-text-2xl);
  line-height: var(--tw-leading, var(--a-text-2xl--line-height));
  @media (width >= 48rem) {
    font-size: var(--a-text-4xl);
    line-height: var(--tw-leading, var(--a-text-4xl--line-height));
  }
}

@utility is-size-1-desktop {
  font-size: var(--a-text-5xl);
  line-height: var(--tw-leading, var(--a-text-5xl--line-height));
  @media (width >= 48rem) {
    font-size: var(--a-text-6xl);
    line-height: var(--tw-leading, var(--a-text-6xl--line-height));
  }
}

@utility is-align-content-space-evenly {
  justify-content: space-evenly;
}

@utility has-background-link-light {
  background-color: var(--color-info);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--color-info) 10%, transparent);
  }
}

@utility has-text-info {
  color: var(--color-info);
}

@utility is-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
}

@utility is-large {
  font-size: var(--a-text-lg);
  line-height: var(--tw-leading, var(--a-text-lg--line-height));
  padding-inline: calc(var(--a-spacing) * 6);
  padding-block: calc(var(--a-spacing) * 3);
}

@utility is-normal {
  --tw-leading: var(--a-leading-relaxed);
  line-height: var(--a-leading-relaxed);
}

@utility delete {
  border-radius: calc(infinity * 1px);
  padding-inline: calc(0.25rem * 0);
  width: var(--size);
  height: var(--size);
  background-color: var(--color-base-300);
  color: var(--color-base-content);
  --fontsize: 0.75rem;
  --btn-p: 0.75rem;
  --size: calc(var(--size-field, 0.25rem) * 8);
}

@utility page-width {
  margin-inline: auto;
  max-width: var(--a-container-7xl);
}

@utility container {
  padding-inline: calc(var(--a-spacing) * 4);
  @media (width >= 40rem) {
    padding-inline: calc(var(--a-spacing) * 6);
  }
  @media (width >= 64rem) {
    padding-inline: calc(var(--a-spacing) * 8);
  }
}

@utility section {
  padding-block: calc(var(--a-spacing) * 12);
}

@utility column {
  width: 100%;
  @media (width >= 48rem) {
    width: calc(1/2 * 100%);
  }
}

@utility columns {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--a-spacing) * 8);
}

@utility notification {
  --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  padding: calc(var(--a-spacing) * 4);
}

@utility content {
  :root & {
    --tw-prose-body: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-body: color-mix(in oklab, var(--color-base-content) 80%, #0000);
    }
    --tw-prose-headings: var(--color-base-content);
    --tw-prose-lead: var(--color-base-content);
    --tw-prose-links: var(--color-base-content);
    --tw-prose-bold: var(--color-base-content);
    --tw-prose-counters: var(--color-base-content);
    --tw-prose-bullets: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-bullets: color-mix(in oklab, var(--color-base-content) 50%, #0000);
    }
    --tw-prose-hr: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-hr: color-mix(in oklab, var(--color-base-content) 20%, #0000);
    }
    --tw-prose-quotes: var(--color-base-content);
    --tw-prose-quote-borders: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-quote-borders: color-mix(in oklab, var(--color-base-content) 20%, #0000);
    }
    --tw-prose-captions: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-captions: color-mix(in oklab, var(--color-base-content) 50%, #0000);
    }
    --tw-prose-code: var(--color-base-content);
    --tw-prose-pre-code: var(--color-neutral-content);
    --tw-prose-pre-bg: var(--color-neutral);
    --tw-prose-th-borders: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-th-borders: color-mix(in oklab, var(--color-base-content) 50%, #0000);
    }
    --tw-prose-td-borders: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-td-borders: color-mix(in oklab, var(--color-base-content) 20%, #0000);
    }
    --tw-prose-kbd: var(--color-base-content);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-prose-kbd: color-mix(in oklab, var(--color-base-content) 80%, #0000);
    }
    :where(code):not(pre > code) {
      background-color: var(--color-base-200);
      border-radius: var(--radius-selector);
      border: var(--border) solid var(--color-base-300);
      padding-inline: 0.5em;
      font-weight: inherit;
      &:before, &:after {
        display: none;
      }
    }
  }
  max-width: none;
}

@utility title {
  --tw-font-weight: var(--a-font-weight-bold);
  font-weight: var(--a-font-weight-bold);
  color: var(--color-primary);
}

@utility subtitle {
  --tw-font-weight: var(--a-font-weight-semibold);
  font-weight: var(--a-font-weight-semibold);
  color: var(--color-base-content);
}

@utility image {
  overflow: hidden;
  border-radius: var(--a-radius-lg);
}

@utility is-fullwidth {
  width: 100%;
}

@utility button {
  --btn-color: var(--color-primary);
  --btn-fg: var(--color-primary-content);
}

@utility icon-text {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: calc(var(--a-spacing) * 2);
}

@utility icon {
  display: inline-block;
  height: calc(var(--a-spacing) * 6);
  width: calc(var(--a-spacing) * 6);
}

@utility block {
  display: block;
}

@utility mt-6 {
  margin-top: calc(var(--a-spacing) * 6);
}

@utility mx-6-tablet {
  @media (width >= 48rem) {
    margin-inline: calc(var(--a-spacing) * 6);
  }
}

@utility px-6-tablet {
  @media (width >= 48rem) {
    padding-inline: calc(var(--a-spacing) * 6);
  }
}

