@import "tailwindcss" prefix(a);
@plugin '@tailwindcss/typography';
@import './layout/container.css';
@import './layout/section.css';
@import './layout/hero.css';
@import './layout/footer.css';
@import './layout/tile.css';
@import './layout/columns.css';
@import './layout/column.css';

/* Elements */
@import './elements/box.css';
@import './elements/button.css';
@import './elements/content.css';
@import './elements/delete.css';
@import './elements/icon.css';
@import './elements/image.css';
@import './elements/notification.css';
@import './elements/progress.css';
@import './elements/table.css';
@import './elements/tag.css';
@import './elements/input.css';
@import './elements/textarea.css';
@import './elements/select.css';
@import './elements/checkbox.css';
@import './elements/radio.css';
@import './elements/field.css';
@import './elements/control.css';
@import './elements/label.css';
@import './elements/help.css';


/* Typography */
@import './typography/title.css';
@import './typography/subtitle.css';

/* Components */
@import './components/breadcrumb.css';
@import './components/card.css';
@import './components/dropdown.css';
@import './components/level.css';
@import './components/media.css';
@import './components/menu.css';
@import './components/message.css';
@import './components/modal.css';
@import './components/navbar.css';
@import './components/pagination.css';
@import './components/panel.css';
@import './components/tabs.css';

/* Helpers */
@import './helpers/is-hidden.css';
@import './helpers/is-marginless.css';
@import './helpers/is-paddingless.css';
@import './helpers/is-clipped.css';
@import './helpers/is-overlay.css';
@import './helpers/is-pulled-left-right.css';
@import './helpers/has-text.css';
@import './helpers/has-background.css';

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "playlovetoys";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: hsl(268, 41%, 33%);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: #F4436C;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #0C7489;
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: #B4B4B4;
    --color-neutral-content: oklch(21% 0.006 285.885);
    --color-info: hsl(189, 64%, 44%);
    --color-info-content: #022E35;
    --color-success: #8E76A1;
    --color-success-content: #321F4C;
    --color-warning: oklch(93% 0.034 272.788);
    --color-warning-content: oklch(21% 0.006 285.885);
    --color-error: #F78FA7;
    --color-error-content: hsl(266, 55%, 5%);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 0.25rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;
}
/* Escanea solo archivos específicos */
@source "sections/**/*.liquid";
@source "templates/**/*.liquid";
@source "snippets/**/*.liquid";
@source "src/safelist.html"; /* Tu archivo de referencia */
